*{
    box-sizing: border-box;
}

html{
    font-size: 16px;
    font-family: "Montserrat", Arial, "sans-serif";
}
body {
    color: black;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.25rem;
}

/* Button */
button {
    border-radius: 5px;
    padding: .5rem 1rem;
    font-weight: 500;
    color: white;
}

.button-primary{
    background-color: #426767;
    border:none;
}

.button-secondary{
    background-color: #434267;
    border:none;
}

.button-tertiary{
    background-color: transparent;
    color:#426767;
    border:2px solid #426767;
    padding:.375rem 1rem
}

/* Form Elements */
.input-label {
    font-size: 0.875rem;
    font-weight: 500;
    margin-bottom: .25rem;
}

input.input-field,
textarea {
    padding: .425rem;
    border: 2px solid #426767;
    border-radius:5px;
}

input[type=text]:focus,
textarea:focus{
    border: 2px solid #434267;
    outline:none;
}

input[type=radio],
input[type=checkbox]{
    accent-color: #426767;
}

div.box {
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 0 10px 0 10px;
}

#primary1 {
    background-color: #425467;
}

#primary2 {
    background-color: #434267;
}

#primary3 {
    background-color: #426767;
}

.warning {
    background-color: #e8a530;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.danger {
    background-color: #c91d25;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.success {
    background-color: #73b234;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

svg.svg-inline--fa {
    color: white;
}

.spacer {
    margin-top: 25px;
}

#footer {
    border-top: 1px solid #dddddd;
    margin-top: 50px;
    padding: 10px;
    text-align: center;
}

/* Flex */
.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

/* Gap */
.gap-12{
    gap: .75rem;
}

.gap-16{
    gap: 1rem;
}

.sticky{
    position:sticky;
    top:2rem;
}